.form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 300px;
  position: relative;
  margin-bottom: 10px;
}

.label {
  color: coral;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.input {
  width: 350px;
  height: 50px;
  align-self: center;
  border-radius: 40px;
  margin-bottom: 30px;
  border: none;
  padding-left: 40px;
  font-size: 18px;
  color: rgb(68, 68, 68);
}

.input:active {
  border : 1px solid coral;
}

.button {
  cursor: pointer;
  pointer-events: auto;
  border-radius: 200px;
  padding: 10px 20px;
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  background: #66aa60;
  color: #fff;
  border: none;
  margin-top: 10px;
  align-self: center;
}

.button:hover {
  background: #439c3b;
}

.errMessageTitle {
  color: red;
  position: absolute;
  left: 10px;
  top: 90px;
}

.errMessageInfo {
  color: red;
  position: absolute;
  left: 10px;
  top: 210px;
}

.errMessagePrice {
  color: red;
  position: absolute;
  left: 10px;
  top: 320px;
}

.errMessageRooms {
  color: red;
  position: absolute;
  left: 10px;
  top: 435px;
}