.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.containerAll {
  display: flex;
  flex-direction: column;
}

.formContainer {
  background-color: rgb(221, 220, 220);
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-radius: 40px;
  margin-bottom: 10px;
}

label {
  color: coral;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.input {
  width: 150px;
  height: 40px;
  align-self: center;
  border-radius: 40px;
  margin-bottom: 30px;
  border: none;
  padding-left: 40px;
  font-size: 18px;
  color: rgb(68, 68, 68);
}

.input:active {
  border: 1px solid coral;
}

.button {
  cursor: pointer;
  pointer-events: auto;
  border-radius: 200px;
  padding: 10px 20px;
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  background: #66aa60;
  color: #fff;
  border: none;
  margin-top: 10px;
  align-self: center;
}

.button:hover {
  background: #439c3b;
}

.cancelButton {
  cursor: pointer;
  pointer-events: auto;
  border-radius: 200px;
  padding: 10px 20px;
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  background: grey;
  color: #fff;
  border: none;
  margin-top: 10px;
  align-self: flex-end;
}

.cancelButton:hover {
  background-color: rgb(236, 98, 98);
}

.loadMoreButton {
  cursor: pointer;
  pointer-events: auto;
  border-radius: 200px;
  padding: 10px 20px;
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  background: #66aa60;
  color: #fff;
  border: none;
  margin-top: 10px;
}

.loadMoreButton:hover {
  background: #439c3b;
}

.spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
